<!--The content below is only a placeholder and can be replaced.-->
<header class="bg-header">
  <div class="logo-section">
    <a href="#">
      <img class="logo" src="../src/assets/images/profileImage.jpg" alt="Devi Shailender Singh">
      <figcaption>Devi Shailender Singh</figcaption>
    </a>
  </div>
  <nav>
    <a href="#">Home</a> 
    <a href="#">Projects</a> 
    <a href="#">About</a> 
    <a href="#">Contact</a>
    </nav>
</header>
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <app-landing-page></app-landing-page>
  <app-project-page></app-project-page>
  <app-about-page></app-about-page>
  <app-contact-page></app-contact-page>
 </div> 

