/* You can add global styles to this file, and also import other style files */
@import "assets/sass-files/_custom";
@import "~bootstrap/scss/bootstrap";
body{
    font-family: 'Roboto', sans-serif;
}

body {
    background: red;

    nav{
        background: green; 
    }
}