body{
    font-family: 'Roboto', sans-serif;
}
  
/*App Component.CSS styles */
.bg-header{
    background: url('../assets/images/bg-header.jpg') no-repeat;
    background-size: 100%;
    
}   

.nav-section{
    position: fixed; 
    top: 0px;
    left: 0px;
    right: 0px; 
}

.logo-img{    
    border-radius: 50%;
    width: 50px;
    background: url(../assets/images/profileImage.jpg) no-repeat;
    height: 50px;
    background-size: 100% 100% ;
} 

.navbar-toggler {
    color: rgba(255,255,255,.5);
    border-color: rgba(255,255,255,.1);
} 

/* .navbar-toggler-icon {
    background-image: url(data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://ww…p='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E);
} */
.navbar-expand-sm .navbar-nav .nav-link {
    color: #a8b9c0;
    font-size: 15px; 
    padding: 10px 20px;
    &.active {
        color: #00c7c0;
        background: rgba(128, 128, 128, 0.3);
        border-radius: 5px;
    }
}
  

.title-section{
    padding: 30px 15px !important;
    h1{
        font-size: 40px;
        color: #f0f8fb;
    }
    h2{
        color: #a8b9c0;
        font-size: 21px; 
    }

    &-skill{
        h2{ 
            font-size: 30px;
            font-weight: 600; 
        }
        span{
            color: #a8b9c0;
            font-size: 15px; 
        }
    }
}

.btn-resume{
    border-radius: 50px;
    color: #ffc501;
    text-transform: uppercase;
    font-size: 16px;
    padding: 8px 26px;
    font-weight: 600;
    background: #ff3150;
}


.icon-skill{  
    text-decoration: none;
    width: 65px;
    height: 65px;
    margin-bottom: 20px; 

    &.uxDesign{   
        background: url(../assets/images/uxDesign-icon.png) no-repeat;
        width: 75px;
        background-position: 10px 0px;
    }
    &.webDesign{   
        background: url(../assets/images/webDesign-icon.png) no-repeat;
        width: 70px; 
    }
    &.appDesign{   
        background: url(../assets/images/appDesign-icon.png) no-repeat;
    }
}
/*App Component.CSS styles */



/*App Skill styles */
.skill-section{
    strong{
        font-family: 'Roboto Slab', serif;
        font-weight: 700;
        color: #1a2940; 
    }
    p{   
         color: #a8b9c0;
        margin-top: 20px;
        line-height: 35px;
    }
}


/*App Skill styles */

/*Projects Styles*/

.project-container{
    background: #eff7fa;
    
    .tab-content>.active {
        display: flex !important;
    }
}

.nav-pills .nav-link{
    color: #a8b9c0;
    font-size: 16px;  
    margin: 0px 10px;
    
    &.active{
        color: #ffc501;  
        font-weight: 600;
        background: #ff3150; 
        border-radius: 10px; 
    }
}

.project-section{

    &#all .box-project{background: #c0c0c0;}
    &#design .box-project{background: rgb(110, 110, 207);}
    &#code .box-project{background: rgb(148, 42, 42);}
    &#photo .box-project{background: rgb(97, 134, 97);}

    .box-project{
        height: 150px;
        width: 100%; 
        
        &.test{
            background: #333 !important;  
            transition:background-color 2s ease 0s;
            
            &:hover{
                background-color: rgba(51, 51, 51, 0.5);
            } 
        }    
    }    
}
/*Projects Styles*/

/*About Page*/

.aboutFooter{
    background: url('../assets/images/aboutUs-footer.jpg') no-repeat;
    background-size: 100%;
    div{ 
        padding: 60px 30px;
        color: #fff;
        width: 500px;
        margin: 0px auto;  
        font-size: 12px;
    }
}

/*About Page*/


/*Contact Page*/

.contact-section{
    background: url('../assets/images/contactPage-bg.jpg') no-repeat;
    background-size: 100%; 
}

footer{
    background: #19283f;
    color: #a8b9c0;
    font-size: 12px; 
}
/*About Page*/


/*Projects Page*/

.carousel.slide{
    width: 750px !important;
    margin: 0px auto !important;
    height: 430px !important; 
}
.carousel-item img{
    width: 100%;
    min-height: 430px !important;
    max-height: 430px !important;
}
.bg-project{
    background: rgba(25, 40, 63, 0.5) url('../assets/images/bg-header.jpg') no-repeat;
    //background: rgba(248, 243, 235, 0.25) url(../assets/images/bg-project.jpg) no-repeat;
    background-size: 100%;
}

.height .iconSection{
    // min-height: 200px;
    // text-align: right;
    padding: 0px !important; 
    .col{    
        // padding: 5px 0px !important;
        margin-bottom: 31px;
        width: 50px;
        background: rgba(128, 128, 128, 0.3);
        border-radius: 5px;
        padding: 5px !important;
        margin-left: auto; 
    }

    &.right .col{
        // text-align: left; 
        margin-right: auto; 
        margin-left: unset; 
    }

}
.project-content {
    p,ul li, strong{
        color: rgba(255, 255, 255, 0.78);  
    }
}